@using ProyectoFinal_DBD.Models
@model List<CuentaModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h2>Listado de Cuentas <small>Sistema Bancario</small></h2>
</div>
<table class="table table-striped">
    <thead>
        <tr class="txt-centered">
            <th>NO. CUENTA</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>INTERES</th>
            <th>SALDO</th>
            <th>STATUS</th>
            <th class="txt-centered">MANTENIMIENTO</th>
            <th class="txt-centered">TRANSACCIONES</th>
            <th class="txt-centered">INTERESES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CuentaModel cuenta in Model)
        {
            <tr>
                <td>@cuenta.Cuenta</td>
                <td>@cuenta.Nombre</td>
                <td>@cuenta.Apellido</td>
                <td>@String.Format("{0:0.00}%", cuenta.Interes)</td>
                <td>@String.Format("{0:C2}", cuenta.Saldo)</td>
                <td>
                    @if (cuenta.Status == "X")
                    {
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-ban text-danger" aria-hidden="true"></i>
                    }
                </td>
                <td class="txt-centered">
                    <div class="btn-group btn-group-sm">
                        <!-- Acciones para cuentas activas -->
                        @if (cuenta.Status == "X")
                        {
                            @Html.ActionLink("Modificar", "ModificarCuenta", "Home", new { Cuenta = cuenta.Cuenta, Nombre = cuenta.Nombre, Apellido = cuenta.Apellido, Saldo = cuenta.Saldo, Interes = cuenta.Interes, Status = cuenta.Status }, new { @class = "btn btn-primary" });
                            @Html.ActionLink("Deshabilitar", "DeshabilitarCuenta", "Home", new { cuenta = cuenta.Cuenta }, new { @class = "btn btn-danger" });
                        }
                        // Acciones para cuentas inactivas
                        else
                        {
                            @Html.ActionLink("Habilitar", "HabilitarCuenta", "Home", new { cuenta = cuenta.Cuenta }, new { @class = "btn btn-info" });
                        }
                    </div>
                </td>
                <td class="txt-centered">
                    <div class="btn-group btn-group-sm">
                        <!-- Acciones para cuentas activas -->
                        @if (cuenta.Status == "X")
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Transacción <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Transferir", "Transferencia", "Home", new { cuenta = cuenta.Cuenta }, null)</li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Abonar</a></li>
                                    <li><a href="#">Retirar</a></li>
                                </ul>
                            </div>
                        }
                        // Acciones para cuentas inactivas
                        else
                        {
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>